name: .NET Core

on: [push]

jobs:
  build:

    runs-on: self-hosted
    if: "!contains(github.event.head_commit.message, '***NO_CI***')"
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: Build with dotnet
      run: dotnet build --configuration Release
